<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["guest/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["guest/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Customergroupid</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Dateofbirth</th>
            <th>Gender</th>
            <th>Mobileno</th>
            <th>Addressno</th>
            <th>Streetname</th>
            <th>Eircode</th>
            <th>City</th>
            <th>County</th>
            <th>Email</th>
            <th>Password</th>
            <th>Userid</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $guest): ?>
            <tr>
                <td><?php echo $guest->getId() ?></td>
            <td><?php echo $guest->getCustomergroupid() ?></td>
            <td><?php echo $guest->getFirstname() ?></td>
            <td><?php echo $guest->getSurname() ?></td>
            <td><?php echo $guest->getDateofbirth() ?></td>
            <td><?php echo $guest->getGender() ?></td>
            <td><?php echo $guest->getMobileno() ?></td>
            <td><?php echo $guest->getAddressno() ?></td>
            <td><?php echo $guest->getStreetname() ?></td>
            <td><?php echo $guest->getEircode() ?></td>
            <td><?php echo $guest->getCity() ?></td>
            <td><?php echo $guest->getCounty() ?></td>
            <td><?php echo $guest->getEmail() ?></td>
            <td><?php echo $guest->getPassword() ?></td>
            <td><?php echo $guest->getUserid() ?></td>

                <td><?php echo $this->tag->linkTo(["guest/edit/" . $guest->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["guest/delete/" . $guest->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("guest/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("guest/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("guest/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("guest/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
