<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["lodgingtype/search", "Go Back"]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create lodgingtype
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "lodgingtype/create",
            "autocomplete" => "off",
            "class" => "form-horizontal",
			"enctype" => "multipart/form-data"
        ]
    );
?>

<div class="form-group">
    <label for="fieldLodgingproviderid" class="col-sm-2 control-label">Lodgingproviderid</label>
    <div class="col-sm-10">
		<select name="lodgingproviderid" id="fieldLodgingproviderid" class="form-control">
			<?php foreach ($lodgingproviders as $lodgingprovider) { echo "<option value='" . $lodgingprovider->getID() . "'>$lodgingprovider</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldProduct" class="col-sm-2 control-label">Product</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["product", "size" => 30, "class" => "form-control", "id" => "fieldProduct"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldImageFile" class="col-sm-2 control-label">Upload your Image</label>
    <div class="col-sm-10">
        <?php echo $this->tag->fileField(["imageFile", "size" => 30, "class" => "form-control", "id" => "fieldImageFile"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
