<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
    $this->assets->outputCss("rating");
    $this->assets->outputJs("rating");
?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["lodgingtype/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Edit Lodging</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Lodgingproviderid</th>
            <th>Product</th>
            <th>Cost</th>
            <th>Lodgingpic</th>
            <th>Average Rating</th>
            <th>Star Rating</th>

                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $lodgingtype): ?>
            <tr>
                <td><?php echo $lodgingtype->getId() ?></td>
            <td><?php echo $lodgingtype->getLodgingproviderid() ?></td>
            <td><?php echo $lodgingtype->getProduct() ?></td>
            <td><?php echo $lodgingtype->getCost() ?></td>
            <td><img class="img-responsive center-block" height="200" width="100" src="data:image/jpeg;base64,<?php echo $lodgingtype->getLodgingpic() ?>"></td>
            <td>
                <?php $avgRating =  $lodgingtype->getAverageRating();?>
                <?php echo $this->tag->linkTo(["lodgingRating/showRatings/" . $lodgingtype->getId(), "$avgRating"]);?>
            </td>
            <td>
                <input id="fieldRating" name="rating"
                       value="<?php echo $lodgingtype->getAverageRating()?>"
                       type="text" class="rating rating-loading" data-min=0
                       data-max=5 data-step=1 data-size="sm" data-display-only="true">
            </td>

                <td><?php echo $this->tag->linkTo(["lodgingtype/edit/" . $lodgingtype->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["lodgingrating/new/" . $lodgingtype->getId(), "Rate"]); ?></td>
                <td><?php echo $this->tag->linkTo(["lodgingtype/delete/" . $lodgingtype->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("lodgingtype/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("lodgingtype/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("lodgingtype/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("lodgingtype/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
