<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>


<div class="page-header" style="margin-top:80px;">

    <h1>
        Create lodginggroupbooking
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "lodginggroupbooking/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldLodgingproviderid" class="col-sm-2 control-label">Lodgingproviderid</label>
    <div class="col-sm-10">
        <select name="lodgingproviderid" id="fieldLodgingproviderid" class="form-control">
			<?php foreach ($lodgingproviders as $lodgingprovider) { echo "<option value='" . $lodgingprovider->getID() . "'>$lodgingprovider</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldStandardpackageid" class="col-sm-2 control-label">Standardpackageid</label>
    <div class="col-sm-10">
		<select name="standardpackageid" id="fieldStandardpackageid" class="form-control">
			<?php foreach ($standardpackages as $standardpackage) { echo "<option value='" . $standardpackage->getID() . "'>$standardpackage</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldTimeofcheckin" class="col-sm-2 control-label">Time of checkin</label>
    <div class="col-sm-10">
        <?php echo $this->tag->timeField(["timeofcheckin", "size" => 30, "class" => "form-control", "id" => "fieldTimeofcheckin"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTimeofcheckout" class="col-sm-2 control-label">Time of checkout</label>
    <div class="col-sm-10">
        <?php echo $this->tag->timeField(["timeofcheckout", "size" => 30, "class" => "form-control", "id" => "fieldTimeofcheckout"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNoofrooms" class="col-sm-2 control-label">Noofrooms</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["noofrooms", "type" => "number", "class" => "form-control", "id" => "fieldNoofrooms"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRoomtype" class="col-sm-2 control-label">Roomtype</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["roomtype", "size" => 30, "class" => "form-control", "id" => "fieldRoomtype"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNoofbeds" class="col-sm-2 control-label">Noofbeds</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["noofbeds", "type" => "number", "class" => "form-control", "id" => "fieldNoofbeds"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDeposit" class="col-sm-2 control-label">Deposit</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["deposit", "size" => 30, "class" => "form-control", "id" => "fieldDeposit"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldBalance" class="col-sm-2 control-label">Balance</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["balance", "size" => 30, "class" => "form-control", "id" => "fieldBalance"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDatecheckin" class="col-sm-2 control-label">Datecheckin</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["datecheckin", "type" => "datepicker", "class" => "form-control", "id" => "fieldDatecheckin"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDatecheckout" class="col-sm-2 control-label">Datecheckout</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["datecheckout", "type" => "datepicker", "class" => "form-control", "id" => "fieldDatecheckout"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
