<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>
<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>


<html>
<div class="page-header" style="margin-top:80px;">
        <nav>
            <ul class="pager">
                <li class="previous"><?php echo $this->tag->linkTo(["index", "Go Back"]) ?></li>
            </ul>
        </nav>


        <h1>
            Submit your special request
        </h1>
</div>
<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "specialrequest/create",
            "autocomplete" => "off",
            "class" => "form-horizontal",
            "enctype" => "multipart/form-data"

        ]
    );
?>

<body>
<div class="form-group">
    <label for="fieldFullname" class="col-sm-2 control-label">Full Name</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["fullname", "size" => 30, "class" => "form-control", "id" => "fieldFullname", "required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->emailField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail","required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLocation" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["location", "size" => 30, "class" => "form-control", "id" => "fieldLocation","required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldBudget" class="col-sm-2 control-label">Budget (€)</label>
    <div class="col-sm-10">
        <?php echo $this->tag->numericField(["budget", "size" => 30, "class" => "form-control", "id" => "fieldBudget","required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPreferabledate" class="col-sm-2 control-label">Preferable Date</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["preferabledate", "type" => "date", "class" => "form-control", "id" => "fieldPreferabledate","required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldComment" class="col-sm-2 control-label">Request</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["comment", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldComment","required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldImageFile" class="col-sm-2 control-label">Have an Image? Upload your Image here</label>
    <div class="col-sm-10">
        <?php echo $this->tag->fileField(["imageFile", "size" => 30, "class" => "form-control", "id" => "fieldImageFile"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
</body>
</html>
