<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["custombooking", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create custombooking
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "custombooking/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldLodgingproviderid" class="col-sm-2 control-label">Lodgingproviderid</label>
    <div class="col-sm-10">
        <select name="Lodgingproviderid" id="fieldLodgingproviderid" class="form-control">
			<?php foreach ($lodgingproviders as $lodgingprovider) { echo "<option value='" . $lodgingprovider->getID() . "'>$lodgingprovider</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldCustomergroupid" class="col-sm-2 control-label">Customergroupid</label>
    <div class="col-sm-10">
		<select name="Customergroupid" id="fieldCustomergroupid" class="form-control">
			<?php foreach ($customergroups as $customergroup) { echo "<option value='" . $customergroup->getID() . "'>$customergroup</option>"; }?>
		</select> 
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPaymenttype" class="col-sm-2 control-label">Paymenttype</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["paymenttype", "size" => 30, "class" => "form-control", "id" => "fieldPaymenttype"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDeposit" class="col-sm-2 control-label">Deposit</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["deposit", "size" => 30, "class" => "form-control", "id" => "fieldDeposit"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldBalance" class="col-sm-2 control-label">Balance</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["balance", "size" => 30, "class" => "form-control", "id" => "fieldBalance"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
