<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">

    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["standardpackage", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create standardpackage
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "standardpackage/create",
            "autocomplete" => "off",
            "class" => "form-horizontal",
	    "enctype" => "multipart/form-data"
        ]
    );
?>


<div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["name", "size" => 30, "class" => "form-control", "id" => "fieldName"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStartdate" class="col-sm-2 control-label">Startdate</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["startdate", "type" => "date", "class" => "form-control", "id" => "fieldStartdate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEnddate" class="col-sm-2 control-label">Enddate</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["enddate", "type" => "date", "class" => "form-control", "id" => "fieldEnddate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLocation" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["location", "size" => 30, "class" => "form-control", "id" => "fieldLocation"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRating" class="col-sm-2 control-label">Rating</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["rating", "type" => "number", "class" => "form-control", "id" => "fieldRating"]) ?>
    </div>
</div>


<div class="form-group">
    <label for="fieldImageFile" class="col-sm-2 control-label">Upload your Image</label>
    <div class="col-sm-10">
        <?php echo $this->tag->fileField(["imageFile", "size" => 30, "class" => "form-control", "id" => "fieldImageFile"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
