<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["dbaccesscontrollist/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["dbaccesscontrollist/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Role</th>
            <th>Action</th>
            <th>Resource</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $dbaccesscontrollist): ?>
            <tr>
                <td><?php echo $dbaccesscontrollist->getRole() ?></td>
            <td><?php echo $dbaccesscontrollist->getAction() ?></td>
            <td><?php echo $dbaccesscontrollist->getResource() ?></td>

                <td><?php echo $this->tag->linkTo(["dbaccesscontrollist/edit/" . $dbaccesscontrollist->getRole(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["dbaccesscontrollist/delete/" . $dbaccesscontrollist->getRole(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("dbaccesscontrollist/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("dbaccesscontrollist/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("dbaccesscontrollist/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("dbaccesscontrollist/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
