<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">

    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["standardpackage/displaygrid", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["standardrating/new", "Create"]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Standard Package Ratings</h1>
</div>
<?php echo $this->getContent(); ?>
<div class="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>CreatedAt</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($standardratings as $standardrating): ?>
            <tr>
                <td><?php echo $standardrating->getId() ?></td>
                <td><?php echo $standardrating->getRating() ?></td>
                <td><?php echo $standardrating->getComment() ?></td>
                <td><?php echo $standardrating->getCreatedat() ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
