
<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>




<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "payment/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>



<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.containermainmain {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-containermain {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>
<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(["payment/placePayment","autocomplete" => "off", "class" => "form-horizontal"]);
?>
	
<div class="row" style="margin-top:100px;margin-left:170px;">
  <div class="col-75">
    <div class="containermain">
      <form action="create" method="post">
      
        <div class="row">
          <div class="col-50">
            <h3 style="padding:10px;">Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" required>
			
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" required>
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" required>

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" required>
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" required>
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3 style="padding:10px;">Payment</h3>
           
            
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" required >
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" required >
            <label for="expmonth">Exp. Month/Year</label>
            <input type="text" id="expmonth" name="expmonth" required >
            
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" required >
              </div>
            </div>
          </div>
          
        </div>
        
	
	
	 </form>
<div class="form-group">
    <label for="fieldAmount" class="col-sm-2 control-label" style="margin-left:-40px;" >Amount</label>
    <div class="col-sm-10" style="margin-top:40px;margin-left:-90px;width:20%;">
        <?php echo $this->tag->textField(["amount", "type" => "number", "class" => "form-control", "id" => "fieldAmount"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUserid" class="hidden">User</label>
    <div class="hidden" style="margin-left:10px;">
        <?php echo $payment = $this->session->get('user')->getID(); ?>
		
    </div>
</div>


<div class="form-group" style="width:100%;margin-left:-50px;">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Pay now", "class" => "btn btn-default"]) ?>
    </div>
</div>
`
    </div>
   </div>
</div>


</body>
</html>
	
