<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>
        Search activitytype
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["activitytype/new", "Create activitytype"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "activitytype/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldProduct" class="col-sm-2 control-label">Product</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["product", "size" => 30, "class" => "form-control", "id" => "fieldProduct"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldActivitylevel" class="col-sm-2 control-label">Activitylevel</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["activitylevel", "size" => 30, "class" => "form-control", "id" => "fieldActivitylevel"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldActivitybase" class="col-sm-2 control-label">Activitybase</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["activitybase", "size" => 30, "class" => "form-control", "id" => "fieldActivitybase"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "type" => "number", "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldInsurance" class="col-sm-2 control-label">Insurance</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["insurance", "size" => 30, "class" => "form-control", "id" => "fieldInsurance"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["description", "size" => 30, "class" => "form-control", "id" => "fieldDescription"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldActivitypic" class="col-sm-2 control-label">Activitypic</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["activitypic", "size" => 30, "class" => "form-control", "id" => "fieldActivitypic"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
