<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>
<div class="page-header" style="margin-top:80px;">
<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create administrator
    </h1>
</div>
<style>
        meter {
            /* Reset the default appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            margin: 0 auto 1em;
            width: 100%;
            height: 0.5em;

            /* Applicable only to Firefox */
            background: none;
            background-color: rgba(0, 0, 0, 0.1);
        }

        meter::-webkit-meter-bar {
            background: none;
            background-color: rgba(0, 0, 0, 0.1);
        }

        /* Webkit based browsers */
        meter[value="1"]::-webkit-meter-optimum-value { background: red; }
        meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
        meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
        meter[value="4"]::-webkit-meter-optimum-value { background: green; }

        /* Gecko based browsers */
        meter[value="1"]::-moz-meter-bar { background: red; }
        meter[value="2"]::-moz-meter-bar { background: yellow; }
        meter[value="3"]::-moz-meter-bar { background: orange; }
        meter[value="4"]::-moz-meter-bar { background: green; }

        /* The message box is shown when the user clicks on the password field */
        #message {
            display:none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
            font-family: 'Poppins', sans-serif;
        }

        #message p {
            padding: 10px 35px;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
        }

        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
            color: green;
        }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }

        /* Add a red text color and an "x" when the requirements are wrong */
        .invalid {
            color: red;
        }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
    </style>
<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "administrator/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldFirstname" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["firstname", "size" => 30, "class" => "form-control", "id" => "fieldFirstname", "required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSurname" class="col-sm-2 control-label">Sur Name</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["surname", "size" => 30, "class" => "form-control", "id" => "fieldSurname", "required"=>"required"]) ?>
    </div>
</div>



<!--<div class="form-group">
    <label for="fieldMobileno" class="col-sm-2 control-label">Mobileno</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["mobileno", "size" => 30, "class" => "form-control", "id" => "fieldMobileno"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAddressno" class="col-sm-2 control-label">Addressno</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["addressno", "type" => "number", "class" => "form-control", "id" => "fieldAddressno"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStreetname" class="col-sm-2 control-label">Streetname</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["streetname", "size" => 30, "class" => "form-control", "id" => "fieldStreetname"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEircode" class="col-sm-2 control-label">Eircode</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["eircode", "size" => 30, "class" => "form-control", "id" => "fieldEircode"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["city", "size" => 30, "class" => "form-control", "id" => "fieldCity"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCounty" class="col-sm-2 control-label">County</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["county", "size" => 30, "class" => "form-control", "id" => "fieldCounty"]) */?>
    </div>
</div>-->

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail", "required"=>"required"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDepartment" class="col-sm-2 control-label">Department</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["department", "size" => 30, "class" => "form-control", "id" => "fieldDepartment", "required"=>"required"]) ?>
    </div>
</div>
<!--
<div class="form-group">
    <label for="fieldReportsto" class="col-sm-2 control-label">Reportsto</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["reportsto", "size" => 30, "class" => "form-control", "id" => "fieldReportsto"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSalary" class="col-sm-2 control-label">Salary</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["salary", "size" => 30, "class" => "form-control", "id" => "fieldSalary"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPpsn" class="col-sm-2 control-label">Ppsn</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["ppsn", "size" => 30, "class" => "form-control", "id" => "fieldPpsn"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStatus" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textArea(["status", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldStatus"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRole" class="col-sm-2 control-label">Role</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["role", "size" => 30, "class" => "form-control", "id" => "fieldRole"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldValidationkey" class="col-sm-2 control-label">Validationkey</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["validationkey", "size" => 30, "class" => "form-control", "id" => "fieldValidationkey"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCreatedat" class="col-sm-2 control-label">Createdat</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["createdat", "size" => 30, "class" => "form-control", "id" => "fieldCreatedat"]) */?>
    </div>
</div>-->

<div class="form-group">
    <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        <?php echo $this->tag->passwordField(["password", "size" => 30, "class" => "form-control", "id" => "fieldPassword", "required"=>"required"]) ?><br>
        <meter max="4" id="password-strength-meter"></meter>
        <p id="password-strength-text"></p>

    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save","disabled" => "true", "id"=>"save", "class" => "btn btn-default", "required"=>"required"]) ?>
    </div>
</div>
<div id="message">
        <b>Please Ensure your Password contain the following:</b>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

<?php echo $this->tag->endForm(); ?>

<script>
        var strength = {
            0: "Worst",
            1: "Bad",
            2: "Weak",
            3: "Good",
            4: "Strong"
        }

        var password = document.getElementById('fieldPassword');
        var meter = document.getElementById('password-strength-meter');
        var text = document.getElementById('password-strength-text');

        password.addEventListener('input', function() {
            var val = password.value;
            var result = zxcvbn(val);

            // Update the password strength meter
            meter.value = result.score;

            // Update the text indicator
            if (val !== "") {
                text.innerHTML = "Strength: " + strength[result.score];
            } else {
                text.innerHTML = "";
            }
        });

        var myInput = document.getElementById("fieldPassword");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if(myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if(myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if(myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if(myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
            if (number.classList.contains("valid")&&
                capital.classList.contains("valid")&&
                length.classList.contains("valid")&&
                letter.classList.contains("valid")) {
                document.getElementById("save").disabled = false;
            }
            else {
                document.getElementById("save").disabled = true;
            }

        }
    </script>