<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Scheduleactivitylogid</th>
            <th>Standardpackageid</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $standardpackagelog): ?>
            <tr>
                <td><?php echo $standardpackagelog->getId() ?></td>
            <td><?php echo $standardpackagelog->getScheduleactivitylogid() ?></td>
            <td><?php echo $standardpackagelog->getStandardpackageid() ?></td>

                <td><?php echo $this->tag->linkTo(["standardpackagelog/edit/" . $standardpackagelog->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["standardpackagelog/delete/" . $standardpackagelog->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("standardpackagelog/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("standardpackagelog/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("standardpackagelog/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("standardpackagelog/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
