<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>
<body>

<div class="page-header" style="margin-top:80px;">
    <?php echo $this->getContent(); ?>

    <div class="jumbotron">

        <h2>Registration Successful!</h2>
        <br>
        <p>Thank You for Registering with Us!</p>
        <div class="about-btn">
            <button  class="about-view">
                <?php echo $this->tag->linkTo(["index", "Home Page"]) ?>
            </button>
        </div>

    </div>
</div>

</body>