<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
<?php foreach ($myBookings as $customactivitypackage): ?>
<html>
<table>

	<tr>
		<td> <?php echo $customactivitypackage->getScheduledactivity()->getActivitytype()->getProduct(); ?>
		</td>
		<td> <td> <?php echo $customactivitypackage->getLodginggroupbooking()->getLodgingtype()->getProduct(); ?>
		</td>
	</tr>

</table>
</html>
<?php endforeach;?>