<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["customactivitypackage", "Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Edit customactivitypackage
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "customactivitypackage/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldScheduledactivityid" class="col-sm-2 control-label">Scheduledactivityid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["scheduledactivityid", "type" => "number", "class" => "form-control", "id" => "fieldScheduledactivityid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLodginggroupbookingid" class="col-sm-2 control-label">Lodginggroupbookingid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["lodginggroupbookingid", "type" => "number", "class" => "form-control", "id" => "fieldLodginggroupbookingid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldGroupjourneylogid" class="col-sm-2 control-label">Groupjourneylogid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["groupjourneylogid", "type" => "number", "class" => "form-control", "id" => "fieldGroupjourneylogid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCustomergroupid" class="col-sm-2 control-label">Customergroupid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["customergroupid", "type" => "number", "class" => "form-control", "id" => "fieldCustomergroupid"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
