<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row" style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["customactivitypackage", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create customactivitypackage
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "customactivitypackage/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldScheduledactivityid" class="col-sm-2 control-label">Scheduledactivityid</label>
    <div class="col-sm-10">
		<select name="scheduledactivityid" id="fieldScheduledactivityid" class="form-control">
			<?php foreach ($scheduledactivities as $scheduledactivity) { echo "<option value='" . $scheduledactivity->getID() . "'>$scheduledactivity</option>"; }?>
		</select>
	</div>
</div>

<div class="form-group">
    <label for="fieldLodginggroupbookingid" class="col-sm-2 control-label">Lodginggroupbookingid</label>
    <div class="col-sm-10">
        <select name="lodginggroupbookingid" id="fieldLodginggroupbookingid" class="form-control">
			<?php foreach ($lodginggroupbookings as $lodginggroupbooking) { echo "<option value='" . $lodginggroupbooking->getID() . "'>$lodginggroupbooking</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldGroupjourneylogid" class="col-sm-2 control-label">Groupjourneylogid</label>
    <div class="col-sm-10">
		<select name="groupjourneylogid" id="fieldGroupjourneylogid" class="form-control">
			<?php foreach ($groupjourneylogs as $groupjourneylog) { echo "<option value='" . $groupjourneylog->getID() . "'>$groupjourneylog</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldCustomergroupid" class="col-sm-2 control-label">Customergroupid</label>
    <div class="col-sm-10">
        <select name="customergroupid" id="fieldCustomergroupid" class="form-control">
			<?php foreach ($customergroups as $customergroup) { echo "<option value='" . $customergroup->getID() . "'>$customergroup</option>"; }?>
		</select>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
