<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>
<body>

<div class="page-header" style="margin-top:80px;">
    <?php echo $this->getContent(); ?>

    <div class="jumbotron">

        <h2>Your Booking Has Been Received, Thank you!</h2>
        <br>
        <p>Please Proceed to Make Payment!</p>
        <div class="about-btn">
            <button  class="about-view">
                <?php echo $this->tag->linkTo(["Payment/new", "Payment"]) ?>
            </button>
        </div>

    </div>
</div>

</body>