<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Lodgingprovidername</th>
            <th>Lodgingtype</th>
            <th>Phoneno</th>
            <th>Addressno</th>
            <th>Streetname</th>
            <th>Postalcode</th>
            <th>City</th>
            <th>County</th>
            <th>Email</th>
            <th>Rating</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $lodgingprovider): ?>
            <tr>
                <td><?php echo $lodgingprovider->getId() ?></td>
            <td><?php echo $lodgingprovider->getLodgingprovidername() ?></td>
            <td><?php echo $lodgingprovider->getLodgingtype() ?></td>
            <td><?php echo $lodgingprovider->getPhoneno() ?></td>
            <td><?php echo $lodgingprovider->getAddressno() ?></td>
            <td><?php echo $lodgingprovider->getStreetname() ?></td>
            <td><?php echo $lodgingprovider->getPostalcode() ?></td>
            <td><?php echo $lodgingprovider->getCity() ?></td>
            <td><?php echo $lodgingprovider->getCounty() ?></td>
            <td><?php echo $lodgingprovider->getEmail() ?></td>
            <td><?php echo $lodgingprovider->getRating() ?></td>

                <td><?php echo $this->tag->linkTo(["lodgingprovider/edit/" . $lodgingprovider->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["lodgingprovider/delete/" . $lodgingprovider->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("lodgingprovider/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("lodgingprovider/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("lodgingprovider/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("lodgingprovider/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
