<?php echo $this->getContent(); ?>
<?php
echo $this->tag->form(["scorder/placeOrder","autocomplete" => "off", "class" => "form-horizontal"]);
?>
<?php 

if(session_id() == '') {
    session_start();
}



   
$connect = mysqli_connect("localhost", "root", "", "occasion");

if(isset($_POST["add_to_cart"]))
{
	if(isset($_SESSION["shopping_cart"]))
	{
		$item_array_id = array_column($_SESSION["shopping_cart"], "item_id");
		if(!in_array($_GET["id"], $item_array_id))
		{
			$count = count($_SESSION["shopping_cart"]);
			$item_array = array(
				'item_id'			=>	$_GET["id"],
				'item_product'			=>	$_POST["hidden_name"],
				'item_cost'		=>	$_POST["hidden_price"],
				'item_quantity'		=>	$_POST["quantity"]
			);
			$_SESSION["shopping_cart"][$count] = $item_array;
		}
		else
		{
			echo '<script>alert("Item Already Added")</script>';
		}
	}
	else
	{
		$item_array = array(
			'item_id'			=>	$_GET["id"],
			'item_product'			=>	$_POST["hidden_name"],
			'item_cost'		=>	$_POST["hidden_price"],
			'item_quantity'		=>	$_POST["quantity"]
		);
		$_SESSION["shopping_cart"][0] = $item_array;
	}
}

if(isset($_GET["action"]))
{
	if($_GET["action"] == "delete")
	{
		foreach($_SESSION["shopping_cart"] as $keys => $values)
		{
			if($values["item_id"] == $_GET["id"])
			{
				unset($_SESSION["shopping_cart"][$keys]);
				echo '<script>alert("Item Removed")</script>';
		
			}
		}
	}
}

?>

<!DOCTYPE html>
<html>
	<head>
		<title>Order Details</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<style>
		  input[type=submit] {
	
		  padding: 5px 5px;

		  box-sizing: border-box;
		}
		.center {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
		}
	</style>
	</head>
	
	<body>
			<img src="img/palms.png" alt="Palms" class="center" style="width:800px;height:300px;margin-top:80px;">
			<h3>Order Details</h3>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th width="40%">Item Name</th>
						<th width="10%">Quantity</th>
						<th width="20%">Cost</th>
						<th width="15%">Total</th>
						<th width="5%">Action</th>
						
					</tr>
					
					<?php
					if(!empty($_SESSION["shopping_cart"]))
					{
						
						$total = 0;
						foreach($_SESSION["shopping_cart"] as $keys => $values) 
						{
			
					?>
					
					<tr>
						<td><?php echo $values ["item_product"]; ?></td>
						<td><?php echo $values["item_quantity"]; ?></td>
						<td>€ <?php echo $values["item_cost"]; ?></td>
						<td>€<?php echo number_format($values["item_quantity"] * $values["item_cost"], 2);?></td>
						<td><a href="?action=delete&id=<?php echo $values["item_id"]; ?>"><span class="text-danger">Remove</span></a></td>
						
					</tr>
					
					<?php
							$total = $total + ($values["item_quantity"] * $values["item_cost"]);
						}
					?>
					<tr>
						<td colspan="3" align="right">Total Amount</td>
						
						<td align="right">€ <?php echo number_format($total, 2); ?></td>
						<td colspan="3" align="right"> <input type="submit" ></td>
					
					</tr>
					
					
					
				
					<?php
					}
					?>
						
				</table>
			</div>
		</div>
	</div>
	<br />
	</body>
</html>



<?php
//If you have use Older PHP Version, Please Uncomment this function for removing error 

/*function array_column($array, $column_name)
{
	$output = array();
	foreach($array as $keys => $values)
	{
		$output[] = $values[$column_name];
	}
	return $output;
}*/
?>