<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["transportprovider/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["transportprovider/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Companyname</th>
            <th>Phoneno</th>
            <th>Addressno</th>
            <th>Streetname</th>
            <th>Eircode</th>
            <th>City</th>
            <th>County</th>
            <th>Email</th>
            <th>Services</th>
            <th>Vehicletypes</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $transportprovider): ?>
            <tr>
                <td><?php echo $transportprovider->getId() ?></td>
            <td><?php echo $transportprovider->getCompanyname() ?></td>
            <td><?php echo $transportprovider->getPhoneno() ?></td>
            <td><?php echo $transportprovider->getAddressno() ?></td>
            <td><?php echo $transportprovider->getStreetname() ?></td>
            <td><?php echo $transportprovider->getEircode() ?></td>
            <td><?php echo $transportprovider->getCity() ?></td>
            <td><?php echo $transportprovider->getCounty() ?></td>
            <td><?php echo $transportprovider->getEmail() ?></td>
            <td><?php echo $transportprovider->getServices() ?></td>
            <td><?php echo $transportprovider->getVehicletypes() ?></td>

                <td><?php echo $this->tag->linkTo(["transportprovider/edit/" . $transportprovider->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["transportprovider/delete/" . $transportprovider->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("transportprovider/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("transportprovider/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("transportprovider/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("transportprovider/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
